$width : 1263px;
$height:31px;
$con-width:1202px;
.wrap-header{width: $width;height: $height;

background: #f7f9f8;
		.con-header{width:$con-width;height:$height;
			margin: 0 auto;
	
	font-size: 12.1px;
	line-height: 31px;
    .fl li{
    	
          list-style: none;
          float: left;

          .city-tit{float:right} ; 
        
    }
          //未完成的城市效果添加
          //
          //
      .li1{ position: relative;
      	     color: #008842;
          	padding: 0 15px;
          	.city-tit{position:relative;

             	&:hover {color:white;background:#008842}

          		height: $height;

          		width: 50px;

          		padding:0 5px;

          	   overflow: hidden;

          	   i{width:9px;height: 9px;

          	   	background:url("/images/主页图片/header-img.png") ;
          	   position:absolute;left:47px;

          	   	top:14px}

          	   	 &:hover i{ 
             	background:url("/images/主页图片/header-img.png") -25px 0px;
             	 transform: rotateZ(180deg);
             	  transform-origin:50% 20%;
             	 transition: transform 0.2s linear;
				    }
        

                  }
              ul{width: 482px;position: absolute;z-index: 2;
              border: 2px solid #008842;
              background: white;
           display: none;
             .headline{padding: 0 15px;
             line-height: 30px;
             font-size:13px ;
             background: #ededed;
             color:#727272 ;
             a{float: right;color: #008842;
             
              }
              
             }
           .hotcity{margin:10px 15px;
           i{display: inline-block;width: 17px;height: 17px;background: url("/images/主页图片/header-img.png") no-repeat -174px 0;
           
           float: left;
           margin-top: 8px;
           margin-right: 5px;
           }
           span{font-size: 14px;color: #444444;font-weight: bold;}
           
           }

//这是加载城市到页面（未完成）

              }
         &:hover{ul{display: block;}}
      	}

         .fr{
         	float: right;

         	li{list-style: none;
               a{color:black;
               	display: block;
                &:hover{color:#008842}
               }
            }
            
 			
 		     .min {
 		         position: relative;
 		         z-index: 99;
 		         .border{position: absolute;border: 1px solid white;width: 96px;bottom: -2px;z-index: 1;
 		         left: 0px;
 		          display: none;
 		         }
 		         ul{position: absolute;border:1px solid #999999;
   		         display: none;
 		         padding: 0 10px;
 		         left:-1px;
 		        
 		         background: white;
 		         top:31px;
 		        
 		        
 		        
 		         }
 		         
 		     	a i:nth-child(1){background:url("/images/主页图片/header-img.png") -40px 0px;
             float: left;
             width: 18px;
             height: 18px;
             margin-right: 5px;
             margin-top: 7px;
 		     }
 		     	
               &:hover a  i:nth-child(2){ transform: rotateZ(180deg);
             	  transform-origin:50% 20%;
             	 transition: transform 0.2s linear;}
             &:hover{background:white;border:1px solid #999999;
             border-bottom: 1 px solid white;
             border-top:none;
             padding:0 9px;
             ul{display: block;}
             .border{display: block;}
             } 
 		     a{width:80px}
             a i:nth-child(2){
 		     	width:9px;height: 9px;
                 margin:4px;
          	   	background:url("/images/主页图片/header-img.png") ;
          	   position:absolute;
              
          	   	top:10px;
 		     }	

 		     }
     		     .min ul .dis-li{width: 100px;}
         		     .min ul li .discount{width: 15px;height: 15px;border-radius:50% ;
         		     background: #008842;float: left;margin-top:8px ;
         		     margin-left: -5px;
         		      text-align: center;line-height: 15px;color: white;
         		      font-weight:bold;
         		      
         		      }
         		     .min ul li a{display: block;float: left; }
            .pho {
            	@extend .min;
            		a i:nth-child(1){background:url("/images/主页图片/header-img.png") -63px 0px;}
            		ul li:nth-child(1){padding-top: 10px;}
            		ul p{text-align: center;margin-bottom: 5px;}
 		   
 		     }
            .card{
            	a i:nth-child(1){background:url("/images/主页图片/header-img.png") -145px 0px;
             float: left;
             width: 24px;
             height: 18px;
             margin-right: 5px;
             margin-top: 7px;
 		     }

            }

            .gift{
            	a i:nth-child(1){background:url("/images/主页图片/header-img.png") -86px 0px;
             float: left;
             width: 18px;
             height: 18px;
             margin-right: 5px;
             margin-top: 7px;
 		     }

            }

 		     

         }
          .fr>li{float:left;
         	
         	padding:0 10px;}        
 
              
              }

       
       }

     

	


.searwrap{
	width:$width;
	height: 78px;
background: #e0e0e0;
	.searheader{
		 
       padding-top:16px;
       margin:0 auto;
       	width: $con-width;height: 62px;
       		
       	.logo{display:block;width:280px;height: 50px;
       		
       		float: left;
       	}
    .search{width:528px;
    	float: left;height: 58px;}
    	.search-bar{width:528px;height:28px;border:1px solid #008842;

             input{float:left;border:none;height: 28px;width:425px;
                padding:0 10px;
                 background:#e0e0e0;
                     line-height: 26px;
                     outline: none;
               }
             button{float:left;width:83px;height: 28px;border:none;
             	background:#008842;
             	color: white;
             	font-size:14px;
             	  line-height: 26px; 
             	  cursor: pointer;
             	}
    	}
    	.search-keyword{
    		a{margin-right:5px;
    			font-size: 12px;
    			color: #727272;}
    		.hot{color:#008842;}	
    	}
          
       	 }
    .shopping-cart{width:172px;height: 42px;float:right;
    border: 1px solid #008842;
    position: relative;
    dl{width: 172px;height: 42px;
    background: white;
      dt{width: 172px;height: 28px;border: 1 px solid red;
     padding: 8px 0;
     text-align: center;
      .total-num{
          margin: 0 5px;
          text-align: center;
          width: 29px;height: 19px;
          display: inline-block;
          overflow: hidden;
         color: #008842;background: url("/images/主页图片/header-img.png") -110px 0px;
         b{margin-top: -5px;display: block;
         font-size: 15px;
           }
         }
         .total-price{display: inline-block;
         color: #008842;font-size: 25px;
         margin-top: -2px;
         font-weight: normal;
         }
      }
      
      .shopping-list{width: 380px;
      z-index: 2;
        display: none;
        right: -1px;
        top:42px;
        border: 1px solid #008842;
        position: absolute;
        background: url("/images/主页图片/none-bg-w190.jpg");
        
        img{width: 42px;height: 42px;margin-top: 10px;float: left;}
        font-size:12px;
        ul{overflow: auto;max-height: 264px;}
        li{width: 370px;height: 60px;line-height: 60px;background: white;
        .money{float: right;.s1{color: red;}.s2{color: #878787}a{color: #878787}}
        
        
        }
        
        .shop-foo{width: 340px;height: 56px;border-top: 1px solid #C1C1C1;padding: 10px;margin: 0 auto;
        .text{width: 340px;height: 27px;span{font-size: 14px;float: right;}b{color: red;}
        .s1{margin-right: 20px;}
       
         }
          a{display: block;float: right;width: 75px;height: 27px;color: white;background: #008742;text-align: center;line-height: 27px;}
        }
        
        
        }
        
        
        
        
      }
      

              
    }
    
}





.catawrap{width: 1263px;height: 38px;position: absolute;z-index: 1;
 .catacont{width: 1200px;height: 38px;left: 0;right:0;position: absolute;
 margin: auto;
 
  .catalogos{width: 180px;height: 38px;background: #008842;
   text-align: center;line-height: 38px;color: white;
   font-size: 15px;
  
  }
  .catalist{width: 180px;height: 462px;background:rgba(255,255,255,0.9) ;
           position: relative;
    .item h3{font-size: 13px;font-weight: normal;border:solid 1px transparent;}
    .item h3 a{padding: 9px 0 9px 15px;display: block;
    width: 165px;height: 24px;
    color: #444;
     line-height: 24px;
    
    span{display: inline-block;margin-left: 40px;display: none;}
    i{display: inline-block;width: 24px;height: 24px;margin-right:15px ;
       float: left;
       background: url("/images/主页图片/nav-icon.png") no-repeat;
       }
    }
     .item:nth-child(2) h3 a i{background-position:-25px 0;}
     .item:nth-child(3) h3 a i{background-position:-49px 0;}
     .item:nth-child(4) h3 a i{background-position:-74px 0;}
     .item:nth-child(5) h3 a i{background-position:-98px 0;}
     .item:nth-child(6) h3 a i{background-position:-121px 0;}
     .item .item-con{width: 215px;
                    height: 431px;
                    padding: 17px 20px;
                    display: none;
                    background:rgba(255,255,255,0.9) ;
                    position: absolute;top: -40px;left:180px;
                    border: 1px solid #C1C1C1;
                    img{position: absolute;bottom:10px};
                    h4{font-weight: normal;a{color: #008842;}margin-bottom: 10px;}
                    .cont{width: 216px;height: 150px;
                       a{margin-right: 20px;&:hover{color: #008842;};font-size: 12px;color: #727272;
                          display:inline-block ;width: 50px;height: 30px;
                          }
                        }
                    }
     .item:hover .item-con{display: block;}               
     
     h3:hover{border: 1px solid #C1C1C1;border-right: none;}
     h3:hover a{background: white;
     padding-left: 30px;
     width: 150px;
     transition: all 0.3s linear;
     
     }
     h3:hover a span{display: inline-block;}
  }
 
 }

}
